html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font-family: inherit;
}

.container {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
